In [2]:
import pandas as pd

# Membaca dataset dan mengubahnya menjadi dataframe
data = pd.read_csv("datasets/Salary_Data.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [4]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [6]:
import numpy as np

# Memisahkan atribut dan label
X = data['YearsExperience']
y = data['Salary']

# Mengubah bentuk atribut
X = X[:,np.newaxis]

In [9]:
from sklearn.svm import SVR

# Membangun model dengan parameter C, gamma, dan kernel
model = SVR(C = 1000, gamma = 0.05, kernel = "rbf")

# Melatih model dengan fungsi fit
model.fit(X, y)

SVR(C=1000, gamma=0.05)

In [10]:
import matplotlib.pyplot as plt